<hello name="{{ name }}"></hello>
<p>
	Start editing to see some magic happen :)
	<br>
  Kalimat satu<br/>
  10 + 20 = {{10 + 20}} <br>
	<input type="text" [(ngModel)]="a"/>+<input type="text" [(ngModel)]="b"/><br>
  Hasil : {{(a*1)+(b*1)}}<br>
	<br>
  List harga<br>
	<!-- {{item.nama}}, {{item.harga | currency:'Rp.'}}, /{{item.satuan}} -->
</p>

<div *ngFor="let fruit of item; let i = index">
	{{i+1}}. {{fruit.nama}}, {{fruit.harga | currency:'Rp.'}}, /{{fruit.satuan}}
</div>

<p *ngIf="tampil">
	bisa tampil
</p>

<!-- <ngTemplate *ngIf="tampil; then templatetrue; else templatefalse"></ngTemplate>

<ngTemplate #templatetrue>
  Benar
</ngTemplate>

<ngTemplate #templatefalse>
  Salah
</ngTemplate> -->